body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: #f9f9f9;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.filters {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

select {
  padding: 6px 10px;
  font-size: 14px;
  border: 2px solid #656060;
  border-radius: 4px;
  background: #ffffff;
  min-width: 160px;
  margin-bottom: 20px;
}

select:hover {
  background-color: #FF6666;
}

/* Container principal de recettes en grid */
.home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 38px;
  justify-items: center; /* Centre les items dans leur grille */
  padding: 0 10px;
}

.recipeList {
  background: #ffffff;
  border: 2px solid #a9a0a0;
  padding: 12px;
  width: 100%;
  max-width: 260px;
  border-radius: 6px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}
.recipeList:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);  /* ombre portée sombre (noir à 50% d’opacité), décalée verticalement de 4 pixels, avec un flou de 8 pixels. */
  transition: all 0.3s ease;
  background-color: #f9cdcd;
}

.recipeList h2 {
  font-size: 18px;
  margin: 0;
  padding-bottom: 6px;
}

.recipeList img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 6px;
}

.recipeList p {
  margin: 0;
  font-size: 14px;
  color: #555555;
}

.recipeList a {
  color: #FF6666;
  text-decoration: none;
  margin-bottom: 8px;
  font-weight: 600;
}

button {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  background-color: #FF6666;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #000000;
}

/*---------------------------------------------------
TABLETTE
---------------------------------------------------*/
/* Applique ces styles pour les écrans de 700px de large maximum*/

@media (max-width: 700px) {
  
.home {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

body {
  margin: 10px;
}

.filters {
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

select {
  min-width: 100%;
  max-width: 300px;
}

.recipeList {
  max-width: 100%;  /* l’image s’adapte toujours à la taille de son conteneur sans déborder, tout en gardant ses proportions. */
}

.recipeList img {
  height: auto;  /* la hauteur de l’élément est automatiquement ajustée en fonction de son contenu */
}

button {
  width: 100%;
}

button:hover {
  background-color: #000000;
}

}

/*---------------------------------------------------
MOBILE
---------------------------------------------------*/
  /* Applique ces styles pour les écrans de 400px de large maximum*/

@media (max-width: 400px) {
.home {
  grid-template-columns: 1fr;
}
}
